@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="title"><span class="d-block">Quer saber Audiência? Basta perguntar.</span></div>
            <div class="block-body">
                <form>
                    <div class="form-group">
                        <a class="btn btn-primary btn-lg">
                            <i class="fa fa-microphone fa-4" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-user-1"></i></div><strong>Praça</strong>
                </div>

            </div>
            <div class="number dashtext-1">Grande São Paulo</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-contract"></i></div><strong>Rede</strong>
                </div>
            </div>
            <div class="number dashtext-2">Globo</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Data</strong>
                </div>
            </div>
            <div class="number dashtext-3">02/09/2021</div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-user-1"></i></div><strong>Target</strong>
                </div>

            </div>
            <div class="number dashtext-1">Total Domicílios</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-contract"></i></div><strong>Rat%</strong>
                </div>
            </div>
            <div class="number dashtext-2">11.29</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>DayPart</strong>
                </div>
            </div>
            <div class="number dashtext-3">Dia Inteiro</div>

        </div>
    </div>
</div>

